header{
    padding-top: 20vh;
}
img{
    height: 60vh;
    width: 100%;
}
.slide-caption{
    position:"absolute";
    top: 20%;
}
a{
    padding: 10px 30px;
}

.slide-item a{
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}
.slide-item a{
    background-color: tomato;
}
.slide-item:nth-child(1) a{
    background-color: rgb(210, 255, 87);
    color: black;
}
.slide-item a:hover{
    background-color: rgb(32, 67, 69);
    color: white;
}

header h2{
    font-size: 250%;
    font-weight: 100;
}
header p{
    font-size: 110%;
    font-weight: 100;
}

@media only screen and (max-width: 993px){
    .slide-caption{
        top: 8%;
    }
    
    img{
        height: 50vh;
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .slide-caption{
        top: 5%;
    }
    img{
        height: 50vh;
        width: 100%;
    }
}

@media only screen and (max-height: 640px){
    img{
        height: 400px;
        width: 100%;
    }
}

